<!DOCTYPE html>
<html>
  <head>
    <title>Color Finder</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <nav>
      <%= link_to "home", root_path, :class => 'navlink' %>
      <% if user_signed_in? %>
        <%= link_to "edit account", edit_user_registration_path, :class => 'navlink'%>
        <%= link_to "sign out", destroy_user_session_path, method: :delete, :class => 'navlink' %>
      <% else %>
        <%= link_to "sign up", new_user_registration_path, :class => 'navlink' %>
        <%= link_to "sign in", new_user_session_path, :class => 'navlink' %>
      <% end %>
    </nav>
  </header>

  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

  <body>
    <%= yield %>
  </body>

  <footer>

  </footer>

</html>
